* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-image: url(slike/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  cursor: pointer;
  margin: 30px 0;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 5px 20px;
  border: 1px solid;
  border-radius: 6px;
}

nav ul li a:hover {
  background-color: black;
  color: white;
  transition: 300ms ease;
}

.heading {
  position: relative;
  font-size: 50px;
  color: hotpink;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.address .contactimage img {
  float: right;
  width: 45%;
  margin-top: 7%;
}

.address h2 {
  font-size: 40px;
  color: rgb(65, 199, 243);
  text-shadow: black 2px 2px 2px;
  text-align: left;
  margin-top: 5px;
}

.address ul li {
  display: grid;
  margin-top: 10px;
  margin-left: 5px;
}

.address ul li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 3px;
}

.address p {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
  nav ul {
    width: 100%;
    background: linear-gradient(hotpink, rgb(65, 199, 243));
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }
  nav ul li {
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: white;
    border: none;
    padding: 0;
    font-size: 15px;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    overflow: hidden;
    transition: 500ms;
  }
  .heading {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .address .contactimage img {
    float: left;
    width: 100%;
  }
  .address h2 {
    font-size: 20px;
    margin-top: 5px;
  }
  .address ul li {
    margin-top: 5px;
    margin-left: 3px;
  }
  .address ul li a {
    font-size: 17px;
    padding: 3px;
  }
  .address p {
    margin-top: 5px;
    margin-left: 3px;
    font-size: 17px;
  }
}
