* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
  }
  
  body {
    background-image: url(slike/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 200px;
    cursor: pointer;
    margin: 30px 0;
  }
  
  .menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px 20px;
    border: 1px solid;
    border-radius: 6px;
  }
  
  nav ul li a:hover {
    background-color: black;
    color: white;
    transition: 300ms ease;
    text-decoration: none;
  }
  
  .heading h1 {
    position: relative;
    font-size: 60px;
    color: hotpink;
    text-shadow: black 2px 2px 2px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    position: flex;
    float: left;
    width: 100%;
    border-radius: 15px;
  }
  
  .col-lg-6 h2 {
    font-size: 20px;
    color: rgb(65, 199, 243);
    text-shadow: black 2px 2px 2px;
  }
  
  .col-lg-6 {
    text-align: center;
  }
  
  .white {
    border: 2px solid black;
    cursor: pointer;
  }
  
  .black {
    border: 2px solid white;
    cursor: pointer;
  }
  
  button {
    background-color: transparent;
    border: 0;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    display: block;
    height: auto;
    overflow: hidden;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  
  @media only screen and (max-width: 768px) {
    nav ul {
      width: 100%;
      background: linear-gradient(hotpink, rgb(65, 199, 243));
      position: absolute;
      top: 75px;
      right: 0;
      z-index: 2;
    }
    nav ul li {
      display: grid;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a {
      color: white;
      border: none;
      padding: 0;
      font-size: 15px;
    }
    .menu-icon {
      display: block;
    }
    #menuList {
      overflow: hidden;
      transition: 500ms;
    }
    .heading {
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  